#!/bin/bash

# Inherit environment variables. This allows you to define a .envrc file in
# a parent directory that contains credentials and API keys without exposing
# them in this repo
source_up

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details
